@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color:#000;
    font-family: 'Roboto', sans-serif;
}
